@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635817811948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e574";
}

.icon-biaoji:before {
  content: "\e575";
}

.icon-bangzhu:before {
  content: "\e576";
}

.icon-bianji:before {
  content: "\e577";
}

.icon-baobiao:before {
  content: "\e578";
}

.icon-chakan:before {
  content: "\e579";
}

